@page
@model Tillykke.Pages.GaveModel

@{
    ViewData["Title"] = "Gaven";
}

<body style="background-color:blue;color:white;text-align:center">
    <h1>@ViewData["Title"]</h1>

    <p style="color:white;">Kæreste dejlige søde dygtige flotte Casper</p>
    <p style="color:white;">Et kæmpe og dybtfølt tillykke med din flotte studentereksamen.</p>
    <p style="color:white;">Ligesom din tid på Handelsgymnasiet og din kommende dimission og studenterfester har været store og mindefulde begivenheder i dit liv, vil vi gerne give dig en gave som også vil være noget du kan kigge tilbage på som et væsentligt, betydende og dejligt minde.</p>
    <p style="color:white;">Derfor har vi besluttet at give dig en billet til Interrail i gave, hvor du skal rejse rundt i Europa i 15 dage, møde fremmede mennesker, lære noget om andre kulturer, men mindst lige så vigtigt, blive overrasket over dig selv, når du opdager nye sider af dig selv.</p>
    <p style="color:white;">Tro os, det bliver en fantastisk oplevelse for dig. Det lover vi dig. Du får aldrig en lignende chance.</p>
</body>