@page
@model Tillykke.Pages.GaveModel

@{
    ViewData["Title"] = "Gaven";
}

<body style="background-color:blue;color:white;text-align:center">
    <h1>@ViewData["Title"]</h1>

    <p style="color:white;">Kæreste dejlige søde dygtige flotte Casper</p>
    <p style="color:white;">Et kæmpe og dybtfølt tillykke med din flotte studentereksamen.</p>
    <p style="color:white;">Ligesom din tid på Handelsgymnasiet har været, og din kommende dimission og studenterfester vil være, store og mindefulde begivenheder i dit liv, vil vi gerne give dig en gave som også vil være noget du kan kigge tilbage på som et væsentligt, betydende og dejligt minde.</p>
    <p style="color:white;">Derfor har vi besluttet at give dig en billet til Interrail i gave, hvor du skal rejse rundt i Europa i 15 dage, møde fremmede mennesker, lære noget om andre kulturer, men mindst lige så vigtigt, blive overrasket over dig selv, når du opdager nye sider af dig selv.</p>
    <p style="color:white;">Tro os, det bliver en fantastisk oplevelse for dig. Det lover vi dig. Du får aldrig en lignende chance.</p>

    <br />
    <br />
    <br />
    <p style="color:yellow;"><b>Citater:</b></p>

    <p style="color:darkorange;">
        Det er måske bare en anelse morsommere at sidde derude og længes hjem, end at sidde derhjemme og længes ud
        Ukendt:
    </p>
    <p style="color:red;">
        Rejser er det bedste middel til selvuddannelse...
        Weber, Karl Julius:
    </p>
    <p style="color:orangered;">
        Hvis man ikke har hjemve en gang imellem, er det fordi man aldrig har flyttet sig en tomme...
        Rifbjerg, Klaus:
    </p>
    <p style="color:darkorange;">
        “At vove er at miste fodfæstet et øjeblik, ikke at vove er at miste sig selv.”
        Søren Kierkegaard
    </p>
    <p style="color:red;">
        “At rejse, at høste erfaring og at lære – det er at leve. Verden er stor, og selv fra toppen af Everest kan man ikke se det hele.”
        Tenzing Norgay
    </p>
    <p style="color:orangered;">
        “Jo mere jeg rejser, desto mere indser jeg at frygt gør mennesker, der burde være venner, til fremmede.”
        Shirley MacLaine
    </p>
    <p style="color:darkorange;">
        ”Eventyret venter den, som forstår at gribe det.”
        Knud Rasmussen
    </p>
    <p style="color:red;">
        “Livet udmåles ikke efter, hvor mange gange vi trækker vejret, men efter de steder og øjeblikke der tager vejret fra os.”
        Anonym
    </p>
    <p style="color:orangered;">
        “Den der ikke rejser, kender ikke menneskets værd. [arabisk opdagelsesrejsende]”
        Ibn Batuta
    </p>

</body>