@page
@model IndexModel
@{
    ViewData["Title"] = "Hjertelig tillykke";
}
<body style="background-color:blue;color:white;text-align:center">
    <div class="text-center">
        <h1 class="display-4">Hurra</h1>
        <p style="color:white;">Hjertelig tillykke med den store dag</p>
        <p style="color:white;">>Se din <a href="/Gave">gave her </a></p>
    </div>

    <img src="/images/2003-11-XX_050.JPG" alt="3 måneder" style="width:128px;height:128px;">
</body>
