@page
@model IndexModel
@{
    ViewData["Title"] = "Hjertelig tillykke";
}

<div class="text-center">
    <h1 class="display-4">Hurra</h1>
    <h2 class="display-4">Hjertelig tillykke med den store dag</h2>
    <p>Se din <a href="/Gave">gave her </a></p>
</div>
