@page
@model IndexModel
@{
    ViewData["Title"] = "Hjertelig tillykke";
}
<body style="background-color:blue;color:white;text-align:center">
    <div class="text-center">
        <h1 class="display-4">Hurra</h1>
        <p style="color:white;">Kære Søn/Casper/Prins/Storebror/Lillebror!</p>
        <p style="color:white;">Hjertelig tillykke med den store dag!</p>
        <p style="color:white;">Vi er simpelthen så stolte af dig. Både dine resultater, men også måden som du selv har klaret dig igennem uddannelsen, stort set uden hjælp og uden brok eller klynk.</p>
        <p style="color:white;">Det er så sejt, og du fortjener helt sikkert de flotte resultater du har opnået.</p>
        <p style="color:white;">Kæmpe knus, kys og kram fra Far, Sandra og Lillesøster.</p>
        <img src="/images/2003-11-XX_050.JPG" alt="3 måneder" style="width:100%">
        <img src="/images/PASDSCN0249.JPG"  style="width:100%">
        <img src="/images/DSCF0323.JPG" style="width:100%">
        <img src="/images/DSCF0172.JPG" style="width:100%">

        <p style="color:white;">>Hvis du er nysgerrig kan du se din <a href="/Gave">gave her </a></p>
    </div>


</body>
